*{
  padding:0;
}
/* main header */
.header-container {
  background-image: url(./Assets/vanda-slider1.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.navbar li {
  margin-left: 0.5rem;
}
.active{
  color: green !important;
}
.second-nav{
  font-weight: bold;
}
.navbar .fa-google-plus-g{
  color: rgb(243, 72, 101)
}
.second-nav li a:hover{
  color: green !important;
}
.header-section .image {
  padding-top: 7rem;
  padding-bottom: 5rem;
  width: 14rem;
}
.header-section .info-item {
  width: 40%;
}
.header-section .img-item {
  width: 50%;
}
.header-section .img-item img {
  width: 100%;
}
.welcom {
  font-size: 1.5rem;
  font-weight: bold;
}

.campany-name {
  color: #d42009;
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 0;
}
.info-name {
  color: green;
  font-size: 2rem;
  font-weight: bold;
}
.btn-read-more {
  background-color: green;
  border-radius: 20px;
  color: white;
  padding: 0.5rem 2rem;
  margin-top: 1rem;
}

/* About company */
.about-company .welcom-about {
  font-size: 1.5rem;
  font-weight: bold;
}
.about-company .welcom-about::after {
  content: "";
  display: block;
  width: 48%;
  margin-block: 1rem;
  padding-block: 1px;
  background-color: gray;
}
.about-company .about-info {
  width: 40%;
}

/* Our services */
.our-services {
  background-image: url(./Assets/venda-serves0.png);
  background-repeat: no-repeat;
  background-size: 110% 100%;
  margin-top: -0.9rem;
  color: rgb(80, 80, 80);
}
.serv-item {
  width: 25%;
  padding-block: 8rem;
}
/***************************** our products ********************************8*/
.ourProducts {
  margin-top: -55px;
  position: relative;
}
.ourProducts .product-container:nth-child(1){
  top: 0;
  color: #d42009;
}
.ourProducts .products .product-container:nth-child(1) .product-name{
  position: absolute;
  bottom: 8%;
  width: 39%;
}

.ourProducts .products .product-container:nth-child(2) .product-name2{
  position: absolute;
  bottom: 34%;top: 0;
  z-index: 3;
  width: 34%;
}
.ourProducts .products .product-container:nth-child(3) .product-name3{
  position: absolute;
  bottom: 16%;
  width: 30%;
}
.bg-border{
  position: absolute;
  z-index: 1;
  width:100%;
  margin-right: 12%;
  top: 6%;
  height: inherit;
}
.ourProducts .product-name {
  padding:1rem;
}
.ourProducts .product-name p,
.ourProducts .product-name2 p,
.ourProducts .product-name3 p{
  font-size:1.7rem;
  font-weight:bold;
  margin-right: 1rem;
}
.ourProducts .product-name2 p{
  margin-top: 5rem;
}
.ourProducts .product-name2 .inner-title{
  margin-top: 4rem;
  margin-right: 3rem;
}
.ourProducts .product-container:nth-child(1)::after,
.ourProducts .product-container:nth-child(3)::after{
  content: '';
  top:40%;
  height:110px;
  position: absolute;
  display: block;
  padding:1px;
  margin-inline:2rem;
  background-color:#d42009;
}
.ourProducts .product-container:nth-child(3)::after{
background-color: green !important;

}

.ourProducts .product-container{
  position: relative;
}
.ourProducts .title {
  font-size: 3rem;
  font-weight: bold;
}
.ourProducts .title::before {
  content: "";
  display: block;
  height: 70px;
  width: 4px;
  background-color: gray;
  margin: auto;
  padding-inline: 1px;
  top: 0;
}
.product-name3 p{
  color:green ;
}
.product-info {
  width: 60%;
  margin: auto;
}
.ourProducts .product {
  width: 33%;
}
.product-read{
  background-color:transparent;
  padding: .3rem 1rem;
  border: none;
  margin-top: 8rem;
}
.ourProducts .product-name .product-read{
 color: black ;
 padding-right: 0;
}
.ourProducts .product-name2 .product-read{
  margin-top:0rem;
  color: black;
  margin-right: 1rem;
}
 .ourProducts  .product-name3 .product-read{
 color:green ;
 }
.leaf {
  margin-right: 10rem;
  padding-block: 1.5rem;
}
/********************************* hair-care-products *************************/
.hair-care-products {
  background-image: url(./Assets/group-background.png);
  background-repeat: no-repeat;
  background-size: 100% 100;
}
.hair-products {
  padding-top: 5rem;
}
.vanda-present {
  color: white;
  font-size: 1.7rem;
}
.vanda-present span {
  font-size: 3.3rem;
  font-weight: bold;
}

/******************************  our-news ***********************************/

.our-news {
    padding-top: 5rem;
    margin-bottom: 16rem;
    
}
.news{
  
  margin-top: -7%;
}
.news-item {
    position: relative;
  width: 32%;
}
.news-image img{
width:100%
}
.our-news .center-title {
  font-size: 3rem;
  color: #d42009;
}
.news-info-item {
    position: absolute;
    top: 86%;
    background-color: #eee;
    padding-inline: 1.2rem;
    margin-right: 23px;
    width: 86%;
}
.news-info-item h5.title {
  padding-top: 1rem;
  color: #222;
  margin: 0;
}
.news-info-item h5.title::after {
  content: "";
  margin-block: 1.3rem;
  display: block;
  width: 27%;
  background-color: #d42009;
  padding-block: 1px;
}
.news-info {
  padding-bottom: 1.5rem;
}
/* footer */
footer{
    color: #fff;
    background-image: url(./Assets/footer.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.social-footer a{
    color: #fff;
    font-size: 1.2rem;
}
.social-footer{
    background-color: rgba(3, 3, 3, 0.644);
}
.danger{
    color:#d42009;
}
.footer-item{
width:32%
}

.footer-item p {
  font-size:1.2rem;
  border-bottom: 1px solid rgb(172, 168, 168);
  width:70%;
  padding-block: 1.4rem;
  margin: 0

}
.footer-item p.shampo {
border-bottom: none;
}

.contact-icon-container{
  margin-bottom: 1rem;
}
.contact-icon-info a ,
.footer-item p a{
  color: #fff;
  text-decoration: none;
}
.footer-contact-icon{
  padding: 0.4rem;
  border: 1px solid #fff;
  border-radius: 50%;
  width: 40px;
  text-align: center;
}
.footer-item:nth-child(2){
  border-inline: 1px solid rgb(172, 168, 168);
  padding-right: 2rem;
}
.grid-container img{
  width: 100%
}
.grid-container{
  align-items: center;

}
.grid-container .grid-item{
  text-align: center;
}
.contact-icon-info {
  margin-right: 1rem;
}
.footer-item:nth-child(3){
  margin-right: 1.5rem;
}
.footer-item-title::after{
        content: "";
        margin-block: 1.3rem;
        display: block;
        width: 16%;
        background-color: #d42009;
        padding-block: 1px;
}